.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-size: 30px;
}

.confirmation-popup p {
  margin-bottom: 15px;
  color: var(--main-color);
}

.confirmation-popup h3 {
  margin-bottom: 15px;
  color: var(--main-color);
  margin-bottom: 100px;
}
.confirmation-popup h5 {
  margin-bottom: 15px;
  color: var(--main-color);
  margin-bottom: 100px;
  text-align: center;
}

.confirmation-popup button {
  margin-right: 40px;
  margin-top: 20px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-color);
  color: white;
  font-size: 25px;

}

.confirmation-popup button:hover {
  background-color: var(--main-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
