.container {
  display: flex;
  width: 100%;
  height: 90vh;
}

.column {
  padding: 30px;
/*   border-style: solid;
  border-color: orangered;
  border-radius: 10%; */
  margin: 100px;

  width: 50%; /* Each column takes half the container width */
  height: 80vh; /* Fixed height */
  overflow: hidden; /* Ensure images don't overflow */
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  /* align-items: center; /* Vertically centers the content */ 
}
.column2 {
  padding: 50px;
/*   border-style: solid;
  border-color: orangered;
  border-radius: 10%; */
  margin: 100px;

  width: 50%; /* Each column takes half the container width */
  height: 80vh; /* Fixed height */
  overflow: hidden; /* Ensure images don't overflow */
  
}
.item-description{
  font-size: 20px;
  text-align: center;
}
.itemName {
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  font-size: 25px;
  padding: 4px;
  color: var(--main-color);
  text-align: center;
}
.inner {
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
  font-size: 25px;
}

.inner2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 2px;
  color: var(--main-color);
  text-align: center;
}

.inner3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 2px;
  color: var(--main-color);
}

.inner4 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  padding-top: 4px;
  padding-bottom: 6px;
  color: var(--main-color);
}

.inner6 {
  font-family: "Titillium Web", sans-serif;
  font-size: 35px;
  margin-left: 10px;
  color: var(--main-color);
}

.column img {
  width: 400px;
  height: 400px;
  object-fit: cover; /* Preserve aspect ratio; fills the container */
  padding: 5px;
  border-radius: 10%;
  display: block; /* Ensure image is treated as a block element */
  margin: 0 auto; /* Horizontally center the image within its container */
}

.addon-content{
  padding-left: 20px;
  font-size: 20px;
}

.addon{
  padding-left: 40px;
}
.container2 {
  width: 100%;
  margin: 0 auto;
}

.options {
  margin-bottom: 20px;
}

.comment-box {
  margin-top: 20px;
}

.quantity {
  margin-bottom: 20px;
  padding-right: 140px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  padding: 5px 10px;
}

.quantity-controls input[type="text"] {
  width: 50px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #ccc;
}

.add-to-order {
  margin-left: 2px;
  padding: 10px 20px;
  font-size: 30px;
  background-color: var(--main-color);
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.add-to-order:hover {
  background-color:var(--main-color);
}

.addon {
  display: flex;
  align-items: center; /* Align items vertically */
}

.quantity-price {
  display: flex;
  align-items: center; /* Align items vertically */
  flex-direction: row;
}

.bigger-checkbox {
  transform: scale(2); /* Increase the size of the checkbox */
  margin-right: 5px; /* Optional: Adjust spacing */
}

.add-go-to-order-buttons{
  display: flex;
  flex-direction: row;
}


textarea {
  width: calc(100% - 10px); /* Adjust width to fit container */
  height: 100px;
  max-width: 100%; /* Ensure it doesn't overflow */
  max-height: 200px; /* Limit height to avoid overlapping */
  padding: 5px; /* Add padding for better appearance */
  resize: vertical; /* Allow vertical resizing only */
  box-sizing: border-box; /* Include padding and border in width calculation */
  font-size: 22px; /* Set the font size for the text entered by the user */
  border-style: solid;
  border-color: grey;
  border-width: 5px;
}

textarea::placeholder {
  font-size: 22px; /* Adjust the font size as needed */
  
}

.buttonq {
  font-family: "Titillium Web", sans-serif;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-radius: 100%;
  margin: 7px;
  font-size: 35px;
  width: 60px; /* Set width and height to ensure the button is perfectly square */
  height: 60px;
  padding: 0; /* Remove padding to maintain square shape */
  border-width: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonq:hover {
  background-color: var(--main-color);
  border-width: 8px;
}

.totalq {
  font-size: 35px;
  padding: 20px;
}

.pricey {
  font-size: 45px;
  padding-top: 60px;
  color: rgb(22, 148, 22);
}

.temp {
  margin-left: 20px;
  font-size: 28px;
  color: greenyellow;
  font-family: "Titillium Web", sans-serif;
}
.go-to-order {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 30px;
  background-color: var(--main-color);
  color: #000000;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.go-to-order:hover{
  background-color: var(--main-color);
}


@media (max-width: 1450px) {
  .column img {
    width: 300px; /* Adjust width for smaller screens */
    height: 300px; /* Adjust height for smaller screens */
    border-radius: 8%; /* Adjust border radius for smaller screens */
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .column{
    padding: 0px;
  }

  .inner2 {
    font-family: "Titillium Web", sans-serif;
    font-size: 25px;
    padding-top: 4px;
    padding-bottom: 2px;
    color: var(--main-color);
    text-align: center;
  }

  .itemName{
    font-size: 23px;
  }
}