.black-background {
    /* background-color: black;
    height: 100vh;
    background-image: url("../Images/BG2.png");
    background-size: 14;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;  */
    color: white;
}

.contentMenuPage{
    padding: 10px;
    height: 80vh;
}

.search-bar{
    color: white;
    text-align: right;
    margin-right: 180px;
    margin-top: 20px;
    font-size: 25px;
}
.active-link {
    color: gold; /* Change to your desired highlight color */
    font-weight: bold; /* Optionally, make the text bold */
}
.search-menu-bar {
    height: 100%; 
    width: 100%; 
}

.menu{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 80vh;
}
.price-key{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.courses{
    width: 25%;
}
.font-size-link-course{
    font-size: 30px;
    text-decoration: none;
    color: White;
    transition: text-shadow 0.3s ease;
    margin-top: 20px;
}

.font-size-link-course:hover{
    color: var(--main-color);
}

.key-header{
    font-size: 30px;
    margin-left: 20px;
    padding: 20px;
    padding-bottom: 0px;
    color: var(--main-color);
}

.key-list{
    font-size: 20px;
    margin-left: 40px;
    padding: 20px;
    color: white;
}

.courses-header{
    font-size: 50px;
    margin-left: 20px;
    padding: 20px;
    color: var(--main-color);
}

.courses-list{
    font-size: 30px;
    margin-left: 70px;
    padding: 20px;
}

    .courses-list ul{
        list-style-type: none;
    }

        .courses-list ul li{
            margin-bottom: 20px;
        }


.menu-items{
    width: 100%;
    height: 80vh;
    overflow: auto;
    margin-right: 8px; /* Right margin for the container */
}
.menu-items::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}
.menu-items::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    margin-right: 8px; /* Right margin for the scrollbar */
  }
  
  .menu-items::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the track */
  }
  
  .menu-items::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  .menu-items::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb on hover */
  }

.food-items-courses{
    height: max-content;
}

.food-items-courses-header{
    width: 100%;
    font-size: 35px;
    padding-top: 20px;
    padding-left: 20px;
    color: var(--main-color);
}
.food-items-courses-items{
    display: flex;
    flex-wrap: wrap;
}
.food-link {
    text-decoration: none; /* Remove underline from links */
    color: white;
}
.menu-item-card{
    height: 500px;
    width: 400px;
    padding: 50px;
}
    .menu-item-card img{
        height: 300px;
        width: 300px;
    }



@media (max-width: 1450px) {
    .menu-item-card{
        height: 300px;
        width: 300px;
        padding: 50px;
        margin-bottom: 50px;
    }
    .menu-item-card img{
        height: 200px;
        width: 200px;
    }
    .food-items-courses{
        margin-bottom: 40px;
    }
    .courses-header{
        font-size: 30px;       
    }
    .courses-list{
        padding: 10px;
        font-size: 20px;
    }
    .food-items-courses-header{
        font-size: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }
}